.root {
    display: flex;
}
.list {
    text-decoration: none;
}
.container {
    width: 300px;
    color: var(--text-accent-color);
    background-color: var(--text-color);
    height: 100vh;
}
.elements {
    color: var(--text-accent-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px 10px;
    gap: 15px;
    transition: all 0.5s;
}
.elements:hover {
    background: var(--bg-accent-color);
    color: #29292E;
    transition: all 0.5s;
}
.active {
    background: lightblue;
    color: #29292E;
}
.top_section {
    gap: 15px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding: 20px 10px;
}