.root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.elements {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.element {
    border-radius: 10px;
    margin: 10px;
    box-shadow: var(--shadow);
    padding : 20px;
    border: 1px #E3E1E1 solid;
}