.root {
    border: 1px #E3E1E1 solid;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
    width: 500px;
    box-shadow: var(--shadow);
}
.close {
    padding: 0;
    display: flex;
    justify-content: end;
}