.root {
    height: var(--input-height);
    border-radius: var(--radius);
    border : var(--border-input);
    outline: none;
    font-size: 18px;
    padding: 0 12px;
}

.root:focus {
    border : var(--border-input-focus);
}

.fullWidth {
    width: 100%;
}
